### This is Part 1 of Week 3 assignment from Coursera Capstone Project
#### The following cells download data from the web, clean them for further operations

In [67]:
import pandas as pd 
print('Libraries imported.')

Libraries imported.

In [68]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 
# instantiate the dataframe
raw_data = pd.DataFrame(columns=column_names)
raw_data

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [69]:
# use BeautifulSoup to scrape the data table from wikipedia
from bs4 import BeautifulSoup
from urllib.request import urlopen
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
soup = BeautifulSoup(urlopen(url))
table = soup.find('table', class_="wikitable")

In [70]:
# search the table and find data, in the meanwhile, handle the 'Not assigned' cases
# then append data into our dataframe row by row

table_rows = table.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [x.text.strip() for x in td]
    if len(row) != 3:
        continue
    postcode, borough, neighborhood = row    
    if borough == 'Not assigned':
        continue
    if neighborhood == 'Not assigned':
        neighborhood = borough
    raw_data = raw_data.append({'PostalCode': postcode,
                                'Borough': borough,
                                'Neighborhood': neighborhood}, ignore_index=True)
raw_data.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [71]:
# clean up data by combining rows with same PostalCode and Borough into the same row, and join their Neighborhood
cleaned_data = raw_data.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: "%s" % ', '.join(x)).reset_index()
cleaned_data.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [72]:
# Count and display number of rows of cleaned dataframe
print('Number of rows in the result dataframe is :', cleaned_data.shape[0])

Number of rows in the result dataframe is : 103